<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>

      {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
      {% endif %}

      <p>{{ site.description }}</p>

      <!-- <nav>
        <a href="{{ "/" | absolute_url }}">Home</a>
        {% for my_page in site.html_pages %}
          {% if my_page.title %}
            <a href="{{ my_page.url | relative_url }}" class="page-link">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav> -->

    </header>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  </div>
</body>
