---
layout: none
---
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ '/assets/style.css' | prepend: site.baseurl }}">
  {% if page.title %}
    <title>{{ page.title }}</title>
  {% endif %}
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a></h1>

      {% if site.logo %}
        <img src="{{ site.logo | prepend: site.baseurl }}" alt="Logo" />
      {% endif %}

      <p>{{ site.description }}</p>

    </header>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  </div>
</body>
